# dependencies
/node_modules
/vendor

# atlas build output (includes .atlas/client island bundles)
/.atlas

# testing
/coverage

# misc
.DS_Store
*.pem
*.log
.bun-debug.log*

# env files
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo
